# Ignore the .vagrant directory
.vagrant/

# Ignore log files
*.log

# Ignore MacOs files
.DS_Store

# Ignore user configuration file
user-config.json

# Ignore tests folder
tests/

# Ignore IDE configuration files
.idea/